.landing{
    position:relative;
    min-height: 60vh;
}

.landing_content{
    color: white; 
    position:relative; 
    padding-top: 10%; 
}
.landing_bottons{
    padding-bottom: 10%; 
}
.mobile{
    display:none; 
}

@media (max-width: 768px) { 
    .mobile{
        display: inline-block;
    }

    .btn-group{
        display: none; 
    }
}