.table-hover{
    color: white !important; 
    display: table !important; 
}

td, th{
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group{
    margin : 20px 0px; 
}

svg {
    height: 150px; 
}

td:first-of-type, td:first-of-type >div {
    height: 200px;
    width: 250px; 
}
canvas {
    display: block;
    float: left;
    margin-left: 8px;
    margin-top: 8px;
  }

  @media (max-width: 768px) { 
    .table-hover{
        color: white !important; 
        display: block !important; 
    }
   }